[web]
${web_1}    public_ip=${web_1_public}
${web_2}    public_ip=${web_2_public}


[load_balancer]
localhost ansible_connection=local


[all:children]
web
load_balancer


[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'